@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Satisfy", cursive;
  --font-family-heading: "Exo 2", sans-serif;
  --primary-color: #58a6ff;
  --secondary-color: #03dac6;
  --background-color: #0d1117;
  --text-color: #c9d1d9;
  --text-color-hover: #ffffff;
  --sm-radius: 4px;
  --md-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
a,
a:link,
a:visited {
  text-decoration: none;
}
h1 {
  font-family: var(--font-family-logo);
}
h2,
h3,
a {
  font-family: var(--font-family-heading);
}
